@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --h1-landing-font-size: 4.5rem;
    --h1-landing-letter-spacing: -0.2rem;
    --h1-landing-line-height: 3.8rem;
    --h1-font-size: 1.5rem;
    --h1-letter-spacing: -0.03rem;
    --text-font-size: 1.1rem;
    --button-font-size: 1rem;
}

@media (min-width: 640px) {
    :root {
        --h1-landing-font-size: 8rem;
        --h1-landing-letter-spacing: -0.4rem;
        --h1-landing-line-height: 6.6rem;
        --h1-font-size: 2rem;
        --h1-letter-spacing: -0.05rem;
        --text-font-size: 1.5rem;
        --button-font-size: 1.2rem;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: rgb(73, 42, 42);
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--text-font-size);
    font-style: normal;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 720px;
    padding: 1rem 24px 1.5rem;
    text-align: center;
    width: 100vw;
}

body.landing {
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "header"
        "buttons";
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

body.quiz {
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
        "header"
        "image"
        "text"
        "buttons";
}

body.delay {
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "header"
        "text";
    height: 100vh;
}

body.results {
    grid-template-rows: min-content min-content max-content;
    grid-template-areas:
        "header"
        "image"
        "buttons";
}

header {
    grid-area: header;
}

body.landing header {
    align-self: self-end;
    margin-bottom: 1.5rem;
    pointer-events: none;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 400;
    letter-spacing: var(--h1-letter-spacing);
}

body.landing h1 {
    font-size: var(--h1-landing-font-size);
    letter-spacing: var(--h1-landing-letter-spacing);
    line-height: var(--h1-landing-line-height);
    margin: auto;
    max-width: 350px;
}

@media (min-width: 640px) {
    body.landing h1 {
        max-width: 520px;
    }
}

h1 a {
    color: inherit;
    text-decoration: inherit;
}

div#waiting {
    align-content: center;
    display: none;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
}

body.delay div#waiting {
    display: block;
}

div#image {
    grid-area: image;
    position: relative;
    width: 100%;
}

body.landing div#image {
    height: 100%;
    left: 0;
    margin: auto;
    /* this number is also in composeLandingPage() fyi */
    max-width: 1024px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

body.quiz div#image {
    padding-top: 60%;
}

body.results div#image {
    padding-top: 125%;
}

body.delay div#image {
    display: none;
}

div#image img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

body.quiz div#image img {
    margin: auto;
    right: 0;
    width: 60%;
}

p#text {
    align-self: center;
    font-size: var(--text-font-size);
    grid-area: text;
    margin-top: 0.5rem;
}

body.landing p#text {
    display: none;
}

body.results p#text {
    display: none;
}

div#buttons {
    display: flex;
    flex-direction: column;
    grid-area: buttons;
    width: 100%;
}

body.landing div#buttons {
    align-self: self-start;
}

body.delay div#buttons {
    display: none;
}

button {
    background-color: #ffffff;
    border-radius: 0.75rem;
    border: 3px solid rgb(73, 42, 42);
    color: rgb(73, 42, 42);
    cursor: pointer;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--button-font-size);
    font-style: normal;
    font-weight: 400;
    outline: none;
    padding: 0.8rem 1.2rem;
}


@media (min-width: 640px) {
    button:hover {
        background-color: #eeeeee;
    }
}

button:active {
    background-color: #dddddd;
}

button+button {
    margin-top: 0.85rem;
}

p#disclaimer {
    align-self: self-end;
    color: rgb(73, 42, 42);
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.8rem;
    font-style: normal;
    display: none;
}

body.landing p#disclaimer,
body.results p#disclaimer {
    display: block;
}